# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Compress files
*.zip

# folder course
prereq
cp1
cp2a
cp2b
cp2c
cp3a
cp3b
cp4
cp5
cp9a
is2
is4
is6a
mf1
mf2
mf9a
so4
so5
so6
llm9a
i8mm_cpu_bl
i8mm_cpu_fast
i8mm_cpu_vnni
i8mm_gpu_bl
i8mm_gpu_fast
i8mm_gpu_dp4a
i8mm_tc_bl
cpu
gpu